body{

  background-color: white;
  text-decoration: none;
  
}
/* NAVBAR */
*{
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}


.navbar{
  background-color:red ;
  color : white;
  border: solid black 1px;
  position: fixed;
}
nav{
  width: 100vw;
  display: flex;
  text-decoration: none;
  align-items: center;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  height: 80px;
  box-shadow: 10px 5px 5px ;
  background-color: black;
  position: sticky;
  top : 0;

  
}

.li{
  
  color : white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 80px;
 text-decoration: none;
 
 
}

.li:hover{
  background-color: black;
  cursor: pointer;
  box-shadow:5px 5px 0.6em white, -5px -5px 0.6em white;

}
.positionnavinf{
  display: flex;
  justify-content: center;
}

.logoposition{
  order: -1;
  /* flex-grow: 1; */
  
  justify-content: center;
  color :white ;

}



.menu2{
  
 
  height: 24rem;
  width: 20rem;
  display: flex;
  justify-content: center;
  color :black;
  gap :10px;
  width: 100vw;
  flex-wrap: nowrap;
  
 
  
  
}


.yes{
  display: none;
  position: absolute;
  justify-content: center;
}
.no{
  display: flex;
  justify-content: center;  
  position: absolute;
  background-color: white;
  color :black
}

/* deuxieme barre */
.menu{

  background: gainsboro;
  height: 13rem;
  display: flex;
  justify-content: center;
  color :black;
  gap :1vw;
  width: 100vw;
  flex-wrap: nowrap;
  margin-top: 1px;
  top :80px;
  left: 1vw;
  right: 7vw;;
  position : fixed;
  
 
}
.imgmenu{
  height: 12rem;
  width: 20vw;
  transition: all 0.4s;
  display: flex ;
 
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 25px;
  
  
}

.imgmenu:hover{
  color :black;
  background-color: black;
  box-shadow: 5px 5px 0.6em black, -5px -5px 0.6em black;
  height: 13rem;
  width : 25vw

}

.imgm1{
  background-image: url(https://res.cloudinary.com/dsx6152nt/image/upload/v1654844262/ocroustycard/A93A4F00-DBA5-4FC8-99D8-E21004BCD2B7_yvcssh.jpg);
  background-size: cover;
  background-position: center;
  color : black
  
}

.imgm2{
  background-image: url(https://res.cloudinary.com/dsx6152nt/image/upload/v1654819432/ocroustycard/C1E05AB4-D948-4A5E-8D68-68FFD7E4D7F1_epxxil.jpg) ;
  background-size: cover;
  background-position: center;
  color : black
}

.imgm3{
  background-image: url(https://res.cloudinary.com/dsx6152nt/image/upload/v1654789970/ocroustycard/04B5023E-4874-40FC-8CD4-F56E3280CCA8_m3ponw.jpg);
  background-size: cover;
  background-position: center;
  color : black
  

}

.imgm4{
  background-image: url(https://res.cloudinary.com/dsx6152nt/image/upload/v1654789969/ocroustycard/5CA105FB-3C12-467A-B6F2-E2D7D570AAE7_kbih6b.jpg);
  background-size: cover;
  background-position: center;
  color : black;
  
  
}


.testimg{
  width: 150px;
  height: 145px;
  border-radius: 0 0 0 25px;
}
/* pages Menu */
------------/* cards */

.masterbref{
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100VW;
  height: 100vh;
}


.bref{
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap : 10px;
  background-color: rgba(255, 255, 255, 0.521);
  border-radius: 25px;
  box-shadow: 5px 5px 0.6em black, -5px -5px 0.6em black;

  
}

.imgnav{
  height: 12rem;
  width: 25rem;
  transition: all 0.4s;
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 25px;
}

.imgnav:hover{
  color :black;
  background-color: black;
  box-shadow: 5px 5px 0.6em black, -5px -5px 0.6em black;
  height: 13rem;
  width : 27rem
}
.supcard{
  display: flex;
  justify-content: center;
}
.card{
  display: flex;
  justify-content:  space-evenly;
  flex-wrap: wrap;
  width: 40rem;
  gap :10px;
  
  padding: 30px;
  

}

.ca{
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
}

.te{
  box-shadow: 5px 5px 0.6em black, -5px -5px 0.6em black;
  border-radius: 25px 25px 25px 25px ;
  margin-bottom: 20px;
  color: black;
  width: 22vw;
  height: 220px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: row;
  gap :10px;
 
}

.te:hover{
  box-shadow:5px 5px 0.6em gray, -5px -5px 0.6em gray;
  
}

.title{
  display: flex;
  justify-content: center;
  color : red;
  margin : 30px
}

/* HOme */
.homeimg{
width: 100vw;
height: 80vh;
border: solid 1px black;
background-image: url(https://res.cloudinary.com/dsx6152nt/image/upload/v1654844263/ocroustycard/2A504749-56BA-411A-9CF4-69AAAE165CF5_xprmhh.jpg);
background-size: cover;
background-repeat: no-repeat;
display: flex ;
justify-content: center;
align-items: center;
color: white;
}




/* Place */

.plan {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 86.5vh;
  
}



.plou {
  width: 42rem;
  text-align: center;
  align-items: center;
  order: -1;
  box-shadow: 5px 5px 0.6em black, -5px -5px 0.6em black;



}

.plou:hover{
  
  box-shadow: 5px 5px 0.6em black, -5px -5px 0.6em black;
}

.plac {
  width: 250px;
}

.burg{
 width: 30px;
 height: 30px;
}


/* footer */

/* hr */
.footer{
  width :100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content : center;
  align-items:center;
  color: white;
  margin-bottom: 0px;
  background-color: black;
}




