/* NAVBAR */
.navbar{
  border : 1px solid black
}
.nav{
  height: 2rem;
  display :flex;
  justify-content: right;
  align-items: center;
  gap : 30px
}
ul{
  display: flex;
  text-decoration: none;
  align-items: center;
  list-style: none;
  gap : 30px
}

